body {
    display: flex;
    justify-content: row;
}

/* .section-cars {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 216px);
    font-family: 'inter', sans-serif; */

    .informacao {
        margin: 2em 0 0 3em;

        p {
            color: #8837C7;
            font-weight: 700;
        }

        h1 {
            font-weight: 600;
        }

    }

    .cadastro-veiculo {
        display: flex;
        align-items: center;

        background-color: #F5F6FA !important;
        box-shadow: 0px 0px 8px 0px rgba(122, 122, 122, 0.25);

        .especificacoes_veiculo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .especificacoes_veiculo_cabecalho {
                margin: 1em 0 0 0;
                text-align: center;

                .error {
                    opacity: 0;
                    font-size: 14px;
                    margin: .3em 0 0 0;
                }
            }

            .inputs {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 90%;
                margin: 1em 0 0 0;
                height: 300px;

                .tipo {
                    background-color: #F5F6FA;
                    border: none;
                }

                .tipo:focus {
                    border: none;
                    outline: none;
                }

                .codigo_div {
                    .button_codigo_aleatorio {
                        font-family: 'inter', sans-serif;
                        font-weight: 700;
                        background-color: #8837C7;
                        color: #F5F6FA;
                        outline: 0;
                        border: 0;
                        height: 30px;
                    }
                }

                .input_cadastro {
                    margin: 0 20px;
                    background-color: #F5F6FA;
                    border: none;
                    color: #111 !important;
                    height: 30px;
                }

                .input_cadastro_codigo {
                    background-color: #F5F6FA;
                    border: none;
                    color: #111 !important;
                }

                .input_cadastro:focus,
                .input_cadastro::placeholder {
                    outline: none;
                    color: #acacac;
                }

                input,
                select {
                    width: 120px;
                    height: 30px;
                }

                .div_select {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .select_marca {
                        background-color: #F5F6FA;
                        border: none;
                        outline: none;
                    }
                }
            }

            .button-salvar,
            .button-limpar {
                cursor: pointer;
            }
        }
    }
/* } */

.spinner {
    width: 25px;
    height: 25px;
    display: grid;
    border: 2px solid #0000;
    border-radius: 50%;
    border-color: #000 #0000;
    animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
}

.spinner::before {
    border-color: #8837C7 #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

.spinner::after {
    margin: 5.5px;
}

@keyframes spinner-e04l1k {
    100% {
        transform: rotate(1turn);
    }
}


@media (max-width: 1350px) {
    .section-cars {
        .cadastro-veiculo {
            .especificacoes_veiculo {
                .inputs {
                    width: 900px;
                }
            }
        }
    }
}