* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
}


a:active, a:link, a:visited {
    text-decoration: none;
    color: default;
}